.imgLogo {
    object-fit: cover;
    width: 102px;
}

.ciao {
    border-radius: 10px 0 0 10px;
}
.banane div:nth-child(2) img {
    border-radius: 0 10px 0 0;


}

.banane div:last-child img {
    border-radius: 0 0 10px 0;
}


@media only screen and (max-width: 768px) {
    .ciao {
        border-radius: 10px 10px 0 0;
    }
    .banane div:nth-child(3) img {
        border-radius: 0 0 0 10px;


    }

    .banane div:last-child img {
        border-radius: 0 0 10px 0;
    }

    .banane div:nth-child(2) img {
        border-radius: 0;

    }    
}

h2 {
    font-size: 2dvw;
}



